.Website-name{
    display: flex;
    justify-content: center;
    align-content: center;
}

.button-LetsWear{
    display: flex;
    justify-content: center;
    align-content: center;
}

.about, .about-second {
    display: flex;
    justify-content: center;
    flex: 1; 
    justify-content: space-between;
    background:red;
}

.hero {
  text-align: center;
  margin-top: 100px;
}

.hero button {
  padding: 12px 25px;
  margin-top: 20px;
  font-size: 16px;
}
