.Header{
    color: brown;
    display: flex;
    justify-content: center;
    align-content: center;
}
/* 
.All-options{
    display: flex;
    justify-content: center;
    align-content: center;
} */